@charset "utf-8";

/* CSS Document */
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    font-size: 12px;
    font-family: Manrope;
    color: #000;
    line-height: 1;
    background: #FFF;
}

ul,
li,
dl,
dd,
dt,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
form,
input {
    margin: 0px;
    padding: 0px;
}

input,
textarea {
    font-family: Manrope;
    border: none;
    outline: none;
    background: none;
}

ul,
li {
    list-style: none
}

img {
    border: 0px;
    padding: 0px;
    display: block;
}

a {
    color: #5c5c5c;
    text-decoration: none
}

h2,
h3,
h4,
b,
strong {
    font-weight: normal;
}

em,
i {
    font-style: normal;
}

@font-face {
    font-family: 'font1';
    src: url('../fonts/HarmonyOS_Sans_SC_Regular.ttf');
}

.clear {
    zoom: 1;
}

.clear:after {
    content: '';
    display: block;
    clear: both;
}

.fl {
    float: left
}

.fr {
    float: right
}

.hidden {
    display: none;
    background: url() no-repeat center;
}


:focus-visible {
    outline: none;
}

input[type=text] {
    border: none;
    color: #ffffff;

    &::-webkit-input-placeholder {
        /* WebKit, Blink, Edge */
        color: #ffffff;
    }

    &:-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        color: #ffffff;
    }

    &::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        color: #ffffff;
    }

    &:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: #ffffff;
    }
}


.header {
    position: fixed;
    top: 0;
    left: 0;
    transition: .5s;
    width: 100%;
    z-index: 100;
    height: 44px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #00000033;


    &.on {
        box-shadow: 0 0 10px rgba(0, 0, 0, .05);
    }


    .logo {
        width: 33.599998474121094px;
        display: block;
        margin-left: 62px;
    }

    .header-middle {
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding-left: 65px;

        h3 {
            padding-right: 65px;

            a {
                font-family: Montserrat;
                font-size: 16px;
                line-height: 24px;

                text-transform: capitalize;
                color: #FFFFFF;

            }

        }

        .cur a {
            font-weight: 100;
        }
    }

    .header-right {
        overflow: hidden;
    }
}

.section.footer {
    background: #18021A;
    width: 100%;
    padding-top: 96px;

    .logo {
        margin: 96px auto 0;
        width: 87.03929901123047px;
        display: block;
    }

    .slogan {
        margin: 24px auto 66px;
        font-family: Manrope;
            font-weight: 100;
        font-size: 28px;
        line-height: 32px;
        color: #ffffff;
        text-align: center;
        text-transform: capitalize;

    }

    .input-group {
        width: 434px;
        height: 36px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 0.5px solid #FFFFFF;
        margin: 0 auto;

        input {
            width: calc(100% - 45px);
            height: 100%;
            font-family: Montserrat;
            font-weight: 400;
            font-size: 18px;
            line-height: 24px;
            color: #ffffff;
            padding-left: 15px;

        }

        img {
            width: 15px;
            margin: 0 15px;
            display: block;
            cursor: pointer;
        }
    }

    .bottom-bar {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 934px;
        margin: 49px auto;

        a {
            font-family: Montserrat;
            font-weight: 400;
            font-size: 18px;
            line-height: 24px;
            color: #FFFFFF;
        }
    }

    .bqxx {
        font-family: Montserrat;
        font-weight: 400;
        font-size: 14px;
        line-height: 49px;
        text-align: center;
        text-transform: capitalize;
        color: #E6E6E6;
        width: 100%;
        height: 49px;
        background: #270728;
        position: absolute;
        bottom: 0;
    }

}