 body.index {
     position: relative;
    height: 100dvh !important;
    overflow: hidden!important;

     .section { 

         &.home_ban {
             background-color: #000000;
             color: #FFFFFF;
             background: url(../image/home-1.png) no-repeat 0 0;
             background-size: 100% 100%;

             .content {
                 width: 100%;
                 height: 100dvh;
                 display: flex;
                 flex-direction: column;
                 justify-content: center;
                 align-items: center;
                 position: relative;
                 .down-arrow-area {
                     position: absolute;
                     width: 100%;
                     height: 100dvh;
                     left: 0;
                     bottom: 0; 
                     z-index: 1;
                     cursor: pointer;
                 }

                 .down-arrow {
                     position: absolute;
                     width: 24px;
                     left: calc(50% - 12px);
                     bottom: 50px;

                     animation: jump 0.6s infinite alternate;
                     -webkit-animation: jump 0.6s infinite alternate;
                 }

                 .title {
                     font-family: Manrope;
                     font-weight: 100;
                     font-size: 84px;
                     line-height: 74px;
                     letter-spacing: 0%;
                     text-align: center;
                     text-transform: uppercase;
                     padding-bottom: 10px;

                 }

                 .text {
                     font-family: Manrope;
                     font-weight: 400;
                     font-style: Regular;
                     font-size: 30px;
                     line-height: 100%;
                     letter-spacing: 0%;
                     text-align: center;
                 }
             }
         }

         .swiper-container {
             position: relative;

             .swiper-slide {
                 height: 100dvh;
                 overflow: hidden;
                 position: relative;
                 background-color: #000000;

                 .bk-image {
                     position: absolute;
                     top: 0;
                     left: 0;
                     width: 100%;
                     height: 100%;
                     object-fit: cover;
                     z-index: 1;
                 }

                 .cover {
                     position: absolute;
                     top: 0;
                     left: 0;
                     width: 100%;
                     height: 100%;
                     background-color: #000;
                     z-index: 2;
                     opacity: 1; // 默认全透明
                     transition: opacity 0.8s ease;
                 }

                 &.swiper-slide-1  .cover {
                     opacity: 0;
                     /* 半黑状态 */
                 }

                 // 移除旧的样式，使用统一的active控制
                 &.active .cover {
                     opacity: 0.5;
                     /* 半黑状态 */
                 }

                 .text {
                     font-family: Manrope;
                     font-weight: 400;
                     font-size: 20px;
                     line-height: 100%;
                     color: #FFFFFF;
                     position: absolute;
                     top: 50%;
                     transform: translateY(-50%);
                     z-index: 3;
                     opacity: 0;
                     transition: opacity 0.4s ease;
                 }
             }

             .swiper-toggle-btn {
                 font-size: 14px;
                 color: #ffffff;
                 position: absolute;
                 bottom: 55px;
                 z-index: 10;
                 left: 50%;
                 transform: translateX(-50%);
                 cursor: pointer;
                 background: rgba(0, 0, 0, 0.5);
                 width: 40px;
                 height: 40px;
                 border-radius: 50%;
                 display: flex;
                 align-items: center;
                 justify-content: center;
             }

             .swiper-pagination {
                 position: absolute;
                 text-align: center;
                 transition: .3s opacity;
                 transform: translate3d(0, 0, 0);
                 z-index: 10;
                 bottom: 35px;

                 .swiper-pagination-bullet {
                     width: 31px;
                     height: 3px;
                     opacity: 1;
                     background: #FFFFFF38;
                     border-radius: 0;

                     &.swiper-pagination-bullet-active {
                         background: #FFFFFF;
                     }

                 }
             }
         }
     }
 }





 @keyframes jump {
     0% {
         bottom: 100px;
     }

     100% {
         bottom: 50px;
     }
 }

 @-moz-keyframes jump

 /* Firefox */
     {
     0% {
         bottom: 100px;
     }

     100% {
         bottom: 50px;
     }
 }

 @-webkit-keyframes jump

 /* Safari 和 Chrome */
     {
     0% {
         bottom: 100px;
     }

     100% {
         bottom: 50px;
     }
 }